body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    background: #222;
    background-image: url('https://i.redd.it/iw7g13qmktx11.png');
    background-repeat: no-repeat;
    font-size: 120%;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.display {
  background: rgba(255, 239, 22, 0.158);
  padding: 5%;
  width:calc(50% - 100px);
  border-radius: 5%;
  border: rgba(0, 0, 0, 0.13) 1px solid;
  
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.search {
  margin: 0.5em;
  border-radius: 5%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #ffffff54;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  background: #ffffff54;
  color: black;
  font-family: inherit;
  font-size: 105%;
  height: 44px;
  width: calc(100% - 50px);
}

button.search:hover {
  background: #7c7c7c6b;
  color: white;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.icon {
  height: 50px;
}

.description {
  text-transform: capitalize;
  
}
