body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    background-color: #edf2f7 !important;  
    font-size: 120%;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.display {
  background: #fff;
  padding: 5%;
  height:calc(50% - 100px);
  width:calc(50% - 100px);
  border-radius: 3%;
  box-shadow:
  3.4px 3.4px 3.4px rgba(0, 0, 0, 0.025),
  8.7px 8.7px 8.6px rgba(0, 0, 0, 0.035),
  17.7px 17.7px 17.5px rgba(0, 0, 0, 0.045),
  36.5px 36.5px 36.1px rgba(0, 0, 0, 0.055),
  100px 100px 99px rgba(0, 0, 0, 0.08);
  
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.search {
  margin: 0.5em;
  border-radius: 5%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #e710107c;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  background: #edf2f7;
  color: black;
  font-family: inherit;
  font-size: 105%;
  height: 44px;
  width: calc(100% - 50px);
}

button.search:hover {
  background: #7c7c7c6b;
  color: white;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.icon {
  height: 100px;
}

.description {
  text-transform: capitalize;
  
}
