body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #edf2f7;  
    font-size: 100%;
}

.card {
  background: #fff;
  border-radius: 3%;
  box-shadow:
  3.4px 3.4px 3.4px rgba(0, 0, 0, 0.025),
  8.7px 8.7px 8.6px rgba(0, 0, 0, 0.035),
  17.7px 17.7px 17.5px rgba(0, 0, 0, 0.045),
  36.5px 36.5px 36.1px rgba(0, 0, 0, 0.055),
  100px 100px 99px rgba(0, 0, 0, 0.08);
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.search {
  margin: 0.5em;
  border-radius: 5%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #E63946;
  color: black;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button.search:hover {
  background: #7c7c7c6b;
  color: white;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  background: #edf2f7;
  color: black;
  font-family: inherit;
  font-size: 105%;
  height: 44px;
  width: calc(100% - 50px);
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.icon {
  height: 100px;
}

.windDirection {
  height: 25px;
}

.countryFlag {
  margin-bottom: 3px;
  height: 20px;
}

.description {
  text-transform: capitalize;
  
}

.footer {
  margin: 0px -12px -23px -12px;
  background-color: rgb(160, 160, 160);
  color: #fff;
  border-radius: 0% 0% 3% 3%;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F1FAEE;
}

.card-footer {
  padding-top: 15px;
  background-color: #F1FAEE;

}

.heart {
  color: red;
}

a {
  color: #457B9D;
  transition: 0.3s ease-in-out;
}
a:link { text-decoration: none; }
a:hover { 
  text-decoration: none;
  color: black;
 }

 #modelError {
  margin-top: -5px;
 }

 h8 {
  font-size: 13px;
 }

 #counter {
  margin-bottom: -10px;
 }